OPENROUTER_API_KEY=
DATABASE_URL="mysql+aiomysql://user:password@localhost:3306/db"
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
SECRET_KEY=
FRONTEND_URL=http://localhost:3000
APP_URL=http://localhost:8000
